/*
 *	Table of Contents:
 *
 *	1. Inits
 *	2. Buttons
 *	3. Header
 *	4. Home Fullscreen Image
 *	5. Section
 *	6. About Section
 *	7. Parallax
 * 	8. Resume Section
 *	9. Portfolio Section
 *	10. Portfolio Single Section
 *	11. Clients Section
 *	12. Blog Section
 *	13. Blog Single
 *	14. Contact Section
 *	15. Google Maps
 *	16. Footer
 *	17. Media Queries
 *
*/


/*
===============================================
			1. Inits
===============================================
*/

body{
	letter-spacing: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.8;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;	
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	line-height: 1;
	text-transform: normal;
	font-weight: 700;
	margin-top: 0;
	letter-spacing: 2px;
}

h1 {
	font-size: 45px;
}

h2{
	font-size: 33px;
}

h3 {
	font-size: 23px;
}

h4 {
	font-size: 18px;
}

h5{
	font-size: 16px;
}

h6{
	font-size: 12px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

img{
	border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

h1 > em {
	font-style: normal;
	color: #00AF5B;
}

.uppercase{
	text-transform: uppercase;
}

.morphext > .animated {
    display: inline-block;
}

#wrapper .clear{
	clear: both;
}

#wrapper .nopadding{
	padding: 0 !important;
}

#wrapper .nopaddingtop{
	padding-top: 0 !important;
}

#wrapper .nopaddingbottom{
	padding-bottom: 0 !important;
}

#wrapper .nomargin{
	margin: 0 !important;
}

#wrapper .nomarginbottom{
	margin-bottom: 0 !important;
}

#wrapper .mb30{
	margin-bottom: 30px;
}

#wrapper .mb50{
	margin-bottom: 50px;
}

.features_bg_gray{
	background: #ededed;
	padding: 15px;
}

.fullOpacity{
	opacity: 1 !important;
}

.accordions{
}

.accordions .panel{
	border:none;
	box-shadow: none;
}

.accordions .panel .panel-heading{
	background: transparent;
	border:1px solid #dedede;
	border-radius: 0;
	padding: 15px;
}

.accordions .panel .panel-heading h4{
	font-weight: 300;
}

.accordions .panel .panel-body{
	border: none !important;
}

.accordions .panel .panel-heading a{
	color: #555555;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.tabs .nav-tabs>li>a{
	border-radius: 0;
	color: #555555 !important;
}

.tabs .nav-tabs>li.active>a,
.tabs .nav-tabs>li.active>a:focus,
.tabs .nav-tabs>li.active>a:hover{
	border-color:#dedede;
	border-bottom-color: transparent;
}

.tabs .tab-content .tab-pane{
	padding: 15px;
}

.alert{
	border-radius: 0;
}

a{
	-webkit-transition: all 700ms linear;
	-moz-transition: all 700ms linear;
	-o-transition: all 700ms linear;
	transition: all 700ms linear;
}

/*
===============================================
			2. Buttons
===============================================
*/

.button{
	display: inline-block;
	color: #333333;
	text-decoration: none !important;
	padding: 15px 20px;
	border:1px solid #999999;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 1;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.button.invert{
	border:1px solid transparent;
	color: #ffffff;
}

.button.invert:hover{
	background: #ffffff !important;
	color: #111111 !important;
}

.button.invert.bg_dark:hover{
	background: #111111 !important;
	color: #ffffff !important;
}

.button.large{
	padding: 25px 30px;
}

.button.small{
	padding: 10px 15px;
}

.button i{
	display: inline-block;
	margin-right: 10px;
	font-size: 15px;
}

.button.light{
	border:1px solid #eeeeee;
	color: #ffffff;
}

.button:hover,
.button.active{
	color: #ffffff !important;
/*	border:1px solid transparent;*/
}

.owl-controls .owl-dot span{
	background:transparent !important;
	border:1px solid #333333;
	border-radius: 50%;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.owl-controls .owl-dot.active span,
.owl-controls .owl-dot:hover span{
	background:#111111 !important;
	border:1px solid #111111;
}

.scroll_to_top{
	position: fixed;
	text-align: center;
	right: 40px;
	top: 110px;
	background: #333333;
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	font-size: 20px;
	cursor: pointer;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
	border-radius: 3px;
}

.scroll_to_top.visible{
	z-index: 500;
	opacity: 1;
	visibility: visible;
	border-radius: 3px;
}

.scroll_to_top:hover{
	background: #1d1d1d;
}

a.facebook_bg:hover{
	background: #3B5999 !important;
	color: #ffffff !important;
}

a.wordpress_bg:hover{
	background: #0076A8 !important;
	color: #ffffff !important;
}

a.twitter_bg:hover{
	background: #00BAFF !important;
	color: #ffffff !important;
}

a.googleplus_bg:hover{
	background: #D94835 !important;
	color: #ffffff !important;
}

a.youtube_bg:hover{
	background: #C8302D !important;
	color: #ffffff !important;
}

a.github_bg:hover{
/*	background: #7197B0 !important;
*/	color: #ffffff !important;
}

a.dribbble_bg:hover{
	background: #E44D87 !important;
	color: #ffffff !important;
}

a.linkedin_bg:hover{
	color: #ffffff !important;
}


a.twitter:hover{
	color: #00BAFF;
}

a.github:hover{
	color: #7197B0;
}

a.dribbble:hover{
	color: #E44D87;
}

a.flickr:hover{
	color: #0062DD;
}

a.tumblr:hover{
	color: #35506B;
}

a.vk:hover{
	color: #476C98;
}

a.skype:hover{
	color: #00A8E9;
}

a.pinterest:hover{
	color: #C7212D;
}

a.instagram:hover{
	color: #BFB4A4;
}

a.linkedin:hover{
	color: #007BB6;
}

/*
===============================================
			3. Header
===============================================
*/

#header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 888;
	text-align: center;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

#header .navigation_container{
	display: inline-block;
	padding: 0;
    text-align: center;
    float: right;
}

#header .logo{
	text-align: center;
	margin-top: 25px;
	display: inline-block;
}

.logo{
	float: left;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 30px;
	line-height: 30px;
	position: relative;
	letter-spacing: 1px;
	color: #ffffff !important;
	text-decoration: none !important;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

#header .navigation{
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
	text-align: center;
}

/* header fixed */

#header.fixed{
	background: #ffffff;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

#header.fixed .logo{
	color: #111111 !important;
}

#header.fixed .navigation > li > a,
#header.fixed .mobile_nav > li > a{
	color: #B1B1B1;
}

#header.fixed .navigation > li > a{
	color: #555555;
}

#header.fixed .navigation > li:hover > a,
#header.fixed .navigation > li.active > a{
	color: #111111 !important;
}

#header.fixed.mobile .navigation > li > a{
	padding: 15px !important;
	color: #ffffff !important;
}

#header.fixed .navigation > li:hover > a,
#header.fixed .navigation > li.active > a{
	color: #ffffff;
}

#header.fixed .mobile_nav > li > a:hover{
	color: #111111;
}

#header.fixed.mobile .navigation > li:hover > a,
#header.fixed.mobile .navigation > li.active > a{
	color: #111111;
}

#header .navigation > li > a:after,
#header .navigation > li.active > a:after,
#header .navigation > li:hover > a:after{
	background:#888888;
}

#header .navigation > li{
	display: inline-block;
	position: relative;
}

#header .navigation > li ul{
	position: absolute;
	border:1px solid #ededed;
	border-top: none;
	left: 0;
	top: 150%;
	background: #ffffff;
	width: 230px;
	list-style: none;
	padding: 15px 25px;
	margin: 0;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}

#header .navigation > li:hover ul{
	top: calc(100% + 1px);
	z-index: 505;
	opacity: 1;
	visibility: visible;
}

#header .navigation > li ul li{
	display: block;
}

#header .navigation > li ul li a{
	display: block;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    color: #888888;
    text-align: left;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}

#header .navigation > li ul li + li a{
	padding-top:15px;
}

#header .navigation > li > a{
    font-family: 'Raleway', sans-serif;
    padding: 30px 15px;
    color: #ffffff;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 1px;
    z-index: 2;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

#header .navigation_container .mobile_nav_toggle{
	display: none;
}

#header .mobile_nav{
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
}

#header .mobile_nav li{
	display: inline;
	position: relative;
	float: left;
}

#header .mobile_nav li a{
    font-family: 'Raleway', sans-serif;
    padding: 30px 15px;
    color: #ffffff;
    font-weight: 700;
    float: left;
    letter-spacing: 1px;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

#header .mobile_nav li:hover a{
	opacity: 1;
	cursor: pointer;
}

#header .navigation > li > a > i{
	display: inline-block;
	margin-left: 5px;
}

#header .navigation > li:hover > a,
#header .navigation > li.active > a{
	opacity: 1;
}

#header .navigation > li:hover:after,
#header .navigation > li.active:after{
	opacity: 1;
	visibility: visible;
	z-index: 1;
}

#header .navigation > li:after{
	position: absolute;
/*	top: calc(50% - 1px);
*/	left: 50%;
	width: 0;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	height: 1px;
	content: '';
	background:#dedede;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

#header .navigation > li:hover:after,
#header .navigation > li.active:after{
	width: 80%;
}

#header.mobile .navigation_container{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5000;
	background: rgba(0,0,0,.9);
	color: #ffffff;
	padding: 30px;
	overflow: auto;
}

#header.mobile .navigation_container .mobile_nav_toggle{
	display: block;
	position: absolute;
	top: 30px;
	right: 30px;
	color: #dedede;
	font-size: 20px;
	z-index: 50;
}

#header.mobile .navigation_container .inner{
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
}

#header.mobile .navigation{
	display: block;
	float: none;
	display: table-cell;
	vertical-align: middle;
}

#header.mobile .navigation > li{
	margin-bottom: 10px;
}
#header.mobile .navigation > li,
#header.mobile .navigation > li > a{
	display: block;
	float: none;
	width: 100%;
	text-align: center;
}

#header.mobile .navigation > li > a,
#header.fixed.mobile .navigation > li > a{
    padding: 10px 5px !important;
    font-size: 17px !important;
    margin-bottom: 5px !important;
}

#header.mobile .navigation > li > a i{
	display: none;
}

#header.mobile .navigation > li > a:after{
	left: calc(50% - 50px);
	bottom: 5px;
}

#header.mobile .navigation > li.active > a:after,
#header.mobile .navigation > li:hover > a:after{
	width: 100px;
}

#header.mobile .navigation > li > ul{
	display: block;
	opacity: 1;
	visibility: visible;
	z-index: 5001;
	position: relative;
	left: auto;
	top: auto;
	background: transparent;
	padding: 0;
	border: none;
	width: auto;
}

#header.mobile .navigation > li > ul > li{
	display: block;
}

#header.mobile .navigation > li > ul > li + li{
}

#header.mobile .navigation > li > ul > li > a{
	display: block;
}


/*
===============================================
			4. Home Fullscreen Image
===============================================
*/

.home_fullscreen_image{
    height: 850px;
    overflow: hidden;
    background-color: #242832;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-position: 0 0;
    background-size: cover !important;
    position: relative;
	background-image: url(../img/header-image.jpg);
}

.home_fullscreen_image.no_parallax{
    background-attachment: scroll !important;
}

.home_fullscreen_image .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100% + 1px);
	height: 100%;
	background:rgba(0,0,0,0.75);
	z-index: 3;
    display: table;
}

.home_fullscreen_image .overlay .social_icons a{
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	color: #ffffff;
	border:2px solid #ffffff;
	text-decoration: none;
}

.home_fullscreen_image .overlay .social_icons a:hover{
	border:2px solid transparent;
}

.home_fullscreen_image .overlay .social_icons a + a{
	margin-left: 10px;
}

.home_fullscreen_image .overlay .outer{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.home_fullscreen_image .overlay .inner{
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	text-align: center;
	display: inline-block;
	width: calc(100% - 20px);
}

.home_fullscreen_image .overlay .inner .title{
	font-size: 60px;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: 5px;
	margin-bottom: 30px;
	margin-top: 0;
	line-height: 1.2;
}

.home_fullscreen_image .overlay .inner .title span{
	display: block;
}

.home_fullscreen_image .overlay .inner .description{
	letter-spacing: 2px;
	margin-bottom: 30px;
    font-weight: 300;
    font-size: 25px;
}

.home_fullscreen_image .overlay .inner .description span{
	display: inline-block;
	position: relative;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.home_fullscreen_image .overlay .inner .description span:before{
	position: absolute;
	left: -170px;
	top: calc(50% - 1px);
	height: 1px;
	background: rgba(255,255,255,0.35);
	content: '';
	width: 150px;
}

.home_fullscreen_image .overlay .inner .description span:after{
	position: absolute;
	right: -170px;
	top: calc(50% - 1px);
	height: 1px;
	background: rgba(255,255,255,0.35);
	content: '';
	width: 150px;
}

.home_fullscreen_image a.mouse_icon{
	position: absolute;
	bottom: 32px;
	left: calc(50% - 16px);
	content: '';
	z-index: 300;
	color:#fff !important;
}

/*
===============================================
			5. Section
===============================================
*/

.section{
	padding-top: 50px !important;
	padding-bottom: 75px !important;
}

.section .container-fluid .row .section_title .title {
	font-size: 40px;
	font-weight: 700;
}


.section .container .row .section_title .title{
	position: relative;
	margin-top: 0;
	margin-bottom: 40px;
	padding-bottom: 15px;
	font-weight: 700;
	font-size: 40px;
	z-index: 1;
}

.section .container .row .section_title .title:after{
	position: absolute;
	bottom: 10px;
	left: 15px;
	width: 260px;
	height: 25px;
	content: '';
	z-index: -1;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.section > .section_title .description{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #999999;
	font-weight: 400;
	font-size: 11px;
	line-height: 1.5;
	margin: 0;
}

.section > .section_title.ptop{
	padding-top: 100px;
}

/*
===============================================
			6. About Section
===============================================
*/

/* about image */
#about {
	background-color: #111;
	color: #fff;
}

.about_image{
	background:url(../img/me.jpg);
    background-size: cover !important;
    background-color: #242832;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 400px;
    position: relative;
}

.about_image .overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background:rgba(0,0,0,0.5);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.about_image:hover .overlay{
	background: rgba(0,0,0,0.65);
}

.about_image:hover .overlay .quote{
	color: #ffffff;
}

.about_image .overlay .quote{
	color: #ededed;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	padding: 50px;
	position: absolute;
	width: calc(100% - 30px);
	left: 50%;
	top: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.about_image .overlay .quote i{
	font-size: 35px;
	display: block;
	margin-bottom: 15px;
}

.about_image .overlay .quote span{
	border-bottom:2px solid transparent;
	display: inline;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.about_image .overlay .quote .source{
	font-style: italic;
	color:#ededed;
	font-size: 18px;
	font-weight: bold;
	margin-top: 5px;
}

/* user titles */

.user_titles{
	overflow: hidden;
	text-align: left;
	z-index: 5;
	margin-bottom: 100px;
	padding: 0;
}

.user_titles .my_avatar{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	margin-bottom: 50px;
}

.user_titles p{
	font-size: 16px;
	color: #fff;
	margin:0;
}

.user_titles p strong{
	color: #fff;
	font-size: 24px;
	line-height: 22px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.user_titles p + p{
	margin-top: 30px;
}

.user_titles .actions{
	margin-top: 50px;
	font-size: 0;
}

.user_titles .actions a {
	border-radius: 3px;
	background-color: #00D770;
	color: #fff;
	border: 2px solid #00D770 !important;
}

.user_titles .actions a:hover {
	color: #00D770 !important;
	background-color: #111 !important;
}

.user_titles .signature{
	text-align: center;
	margin-top: 50px;
}

/* about body */

.about_body{
	padding: 15px;
	color: #ffffff;
	overflow: hidden;
	display: table;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

/* user personal info */

.user_personal_info{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.user_personal_info > div{
	padding: 20px 0;
}

.user_personal_info .cell{
	position: relative;
}

.user_personal_info .cell .icon{
	margin-bottom: 20px;
	text-align: center;
}

.user_personal_info .cell .icon i{
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 100%;
	border:1px solid #ffffff;
	font-size: 18px;
}

.user_personal_info .cell .label{
	border-radius: 0;
	margin: 0;
	display: block;
	padding: 0;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
	color: #ffffff;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.user_personal_info .cell .value{
	padding: 0;
	color: #f5f5f5;
}

.user_personal_info .cell .value a{
	color: #ffffff;
}

.about_body .actions{
	margin-top: 15px;
}

/* services */

.services .item_outer{
	padding: 0;
}

.services .item{
	padding: 50px 30px;
	text-align: center;
	background: #333;
	color: #B7B6B6;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.services .item_outer.bg .item{
	background: #333;
}

.services .item:hover{
	background: #00D770 !important;
	color: #ffffff;
}

.services .item i{
    font-size: 50px;
    margin-bottom: 30px;
    width: 120px;
    height: 120px;
    border: 3px solid #B7B6B6;
    line-height: 120px;
    border-radius: 100%;

}

.services .item:hover i{
	border:3px solid #ffffff;
}

.services .item img{
	width: 120px;
	height: 120px;
	margin-bottom: 30px;
}

.services .item h6{
	margin: 0;
	margin-bottom: 10px;
}

.services .item p{
	margin: 0;
}


/* about user bot */

.about_user_bot .col{
	padding: 70px 0 0 0;
	background-color: #333;
	overflow: hidden;
}

.about_user_bot .col.awards_box{
	background: #f9f9f9;
}

.about_user_bot .col > .title{
	letter-spacing: 1px;
	margin-top: 0;
	margin-bottom: 45px;
	position: relative;
	padding-bottom: 15px;
	text-align: center;
	color: #fff;
}

.about_user_bot .col > .title:after{
	position: absolute;
	left: calc(50% - 25px);
	bottom: 0px;
	width: 50px;
	height: 1px;
	content: '';
}

/* skills */

.skills .skill{
	overflow: hidden;
}

.skills .skill + .skill{
	margin-top: 30px;
}

.skills .skill h5{
	color: #555555;
	margin-bottom: 5px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.skills .skill:hover h5{
	color: #111111;
}

.skills .skill .bar{
	width: 100%;
	position: relative;
	height: 2px;
	background: #ededed;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.skills .skill .bar .barinner{
	position: absolute;
	left: 0;
	top: 0;
	height: 2px;
	content: '';
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.skills .skill .bar .percent{
    margin: 0;
    color: #333333;
    font-size: 13px;
    font-weight: 300;
    z-index: 10;
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    right: 0;
    top: -20px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

/* awards */

.awards .award + .award{
	margin-top: 30px;
}

.awards .award{
	position: relative;
	padding-left: 70px;
}

.awards .award i{
	position: absolute;
	left: 0;
	top: 0;
	font-size: 50px;
}

.awards .award .body{
}

.awards .award .body .title{
	margin-top: 0;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.awards .award .body .title a{
	color: #444444;
}

.awards .award .body .place{
	color: #999999;
}

.awards .award .body .description{
	font-size: 15px;
}

/*
===============================================
			7. Parallax
===============================================
*/

.parallax_item .owl-controls .owl-dots .owl-dot.active span,
.parallax_item .owl-controls .owl-dots .owl-dot:hover span{
	background: #ffffff !important;
	border:1px solid #ffffff !important;
}

.parallax_item{
    display: table;
	position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover !important;
    width: 100%;
    text-align: center;
}

.parallax_item .parallax_content{
	position: relative;
	z-index: 3;
	color: #ffffff;
    display: table-cell;
    vertical-align: middle;
	padding: 100px 20px;
}

.parallax_item .parallax_content a{
	color: #ffffff;
}

.parallax_item .parallax_content .parallax_title{
	letter-spacing: 4px;
	font-size: 35px;
	text-transform: uppercase;
	position: relative;
	margin-top: 0;
	margin-bottom: 50px;
	padding-bottom: 30px;
	font-weight: 700;
}

.parallax_item .parallax_content .parallax_title:after{
	content: '';
	position: absolute;
	width: 50px;
	height: 1px;
	left: calc(50% - 25px);
	bottom: 0px;
	background: #ffffff;
   	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}


.parallax_item .parallax_content .parallax_subtitle{
	font-size: 12px;
	letter-spacing: 4px;
	font-weight: 700;
	line-height: 22px;
}

.parallax_item .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height:100%;
	background: rgba(0,0,0,0.55);
	z-index: 1;
}

.parallax_item.light .parallax_content,
.parallax_item.light .parallax_content a{
	color: #111111;
}

.parallax_item.light .overlay{
	background: rgba(255,255,255,0.85);
}

.parallax_item.no_parallax{
    background-attachment: scroll !important;
}

/* top parallax */

.parallax_item.top_parallax{
	height: 500px;
	background-image: url('../img/topimage.jpg');
}

.parallax_item.top_parallax .overlay{
	background: rgba(0,0,0,0.45);
}

.parallax_item.top_parallax .top_title{
	margin: 0;
	margin-bottom: 30px;
	font-size: 50px;
	letter-spacing: 3px;
	padding-bottom: 30px;
	position: relative;
}

.parallax_item.top_parallax .top_title:after{
	position: absolute;
	left: calc(50% - 25px);
	bottom: 0;
	height: 1px;
	width: 50px;
	content: '';
	background: #ffffff;
}

.parallax_item.top_parallax .top_links a{
	display: inline-block;
	color: #ffffff;
	letter-spacing: 2px;
}

.parallax_item.top_parallax .top_links .sep{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

/* testimonials */

.parallax_item.testimonials{
	background-image: url('../img/testimonials.jpg');
	display: block;
}

.parallax_item.testimonials .owl-item{
	z-index: 55;
}

.parallax_item.testimonials .parallax_content{
	display: block;
	vertical-align: inherit;
}

.parallax_item.testimonials .testimonials_slider .item{
	overflow: hidden;
	margin-bottom: 15px;
}

.parallax_item.testimonials .testimonials_slider .item .quote_box{
	color: #ffffff;
	position: relative;
}

.parallax_item.testimonials .testimonials_slider .item img{
	display: inline-block;
	width: auto;
	border-radius: 100%;
	margin: 0 auto;
    margin-bottom: 30px;
}

.parallax_item.testimonials .testimonials_slider .item .text{
	font-size: 20px;
	line-height: 35px;
	margin-bottom: 20px;
	padding: 0;
}

.parallax_item.testimonials .testimonials_slider .item .name{
	font-size: 14px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	position: relative;
	padding-top: 20px;
}

.parallax_item.testimonials .testimonials_slider .item .name:before{
	position: absolute;
	top: 0;
	left: calc(50% - 15px);
	width: 30px;
	height: 1px;
	background: rgba(255,255,255,0.25);
	content: '';
}

.parallax_item.testimonials .testimonials_slider .item .position{
	font-size: 10px;
}

.parallax_item.testimonials .testimonials_slider .item .name,
.parallax_item.testimonials .testimonials_slider .item .position{
	letter-spacing: 2px;
}

.parallax_item .owl-controls .owl-dot span{
	border:1px solid #ffffff;
}

/* owl carousel nav */
.slideshow_items .owl-controls .owl-nav{
	font-size: 0;
	padding: 0;
	margin: 0;
}
.slideshow_items .owl-controls .owl-nav .owl-prev,
.slideshow_items .owl-controls .owl-nav .owl-next{
	padding: 0;
	margin: 0;
}

.slideshow_items .owl-controls .owl-nav .owl-prev i{
	left: 0;
}

.slideshow_items .owl-controls .owl-nav .owl-next i{
	right: 0;
}

.slideshow_items .owl-controls .owl-nav .owl-prev i,
.slideshow_items .owl-controls .owl-nav .owl-next i{
	display: inline-block;
	font-size: 50px;
	height: 60px;
	width: 60px;
	line-height: 60px;
	color: #ffffff;
	background: transparent;
	overflow: hidden;
	position: absolute;
	margin: 0;
	top: 0;
	z-index: 99;
	border:1px solid #ffffff;
	border-radius: 50%;
	opacity: 0.8;
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	transform: translateY(50%);
}

.slideshow_items .owl-controls .owl-nav .owl-prev:hover i,
.slideshow_items .owl-controls .owl-nav .owl-next:hover i{
	opacity: 1;
}

.slideshow_items .owl-controls .owl-dots{
	margin-top: 20px;
}

.slideshow_items .owl-controls .owl-dots .owl-dot.active span{
	background: #ffffff;
}

.slideshow_items .owl-controls .owl-dots .owl-dot span{
	border:1px solid #ffffff;
	background: transparent;
}

.slideshow_items .owl-controls{
	margin: 0;
}

/*
===============================================
			8. Resume Section
===============================================
*/

.education_content,
.employment_content{
	padding: 25px 15px 50px 15px;
}

.education_content {
	border-bottom: 1px solid #ddd;
	padding-top: 0px !important;
}

.edu_empl_items{
	
}

.edu_empl_items > i{
	font-size: 40px;
}

.edu_empl_items h3 i {
	padding-right: 20px;
}

.edu_empl_items > .title{
	position: relative;
	padding-bottom: 15px;
	margin: 25px 0;
}

.edu_empl_items .items .item{
	position: relative;
	padding: 15px 0;
   	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.edu_empl_items .items .item .body{
	text-align: left;
	position: relative;
	margin: 0 35px;
}

.edu_empl_items .items .item .body:before{
	position: absolute;
	left: -15px;
	top: 0;
	width: 1px;
	height: calc(100% + 30px);
	content: '';
	background: #dedede;
}

.edu_empl_items .items .item .body:after{
	width: 11px;
	height: 11px;
	border-radius: 100%;
	position: absolute;
	left: -20px;
	top: 0;
	content: '';
}

.edu_empl_items .items .item:last-child{
	margin-bottom: 0;
}

.edu_empl_items .items .item .position{
	margin-top: 0;
	text-transform: uppercase;
	position: relative;
}

.edu_empl_items .items .item .date{
	position: relative;
	font-weight: 400;
	text-transform: uppercase;
	background-color: #00D770;
	color: #fff;
	padding: 5px;
	border-radius: 3px;
	width: 200px;
	text-align: right;
	margin-top: -8px;
	margin-right: 10px;
}

.edu_empl_items .items .item .place{
	color: #555555;
	position: relative;
	margin-bottom: 10px;
}

.edu_empl_items .items .item .description{
	margin: 0;
}

/*
===============================================
			9. Portfolio Section
===============================================
*/

#portfolio {
	margin-bottom: 100px;
}


/*.portfolio_grid {
	padding: 0 10px;
}*/

.portfolio_grid .grid_item{
	width: 33%;
	display: inline-block;
	overflow: hidden;
	position: relative;
	padding: 5px 5px 0px;
	border-radius: 5px;
}

.portfolio_grid .grid_item .grid_box{
	width: 100%;
    height: 0;
    padding-top: 57%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.portfolio_grid .grid_item .grid_box figure{
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    border-radius: 5px;
}

.portfolio_grid .grid_item img{
	display: block;
	width: 100%;
	overflow: hidden;
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
    transform: scale(1.1,1.1);
   	-webkit-transition: all 550ms linear;
	-moz-transition: all 550ms linear;
	-o-transition: all 550ms linear;
	transition: all 550ms linear;
}

.portfolio_grid .grid_item:hover img{
	-webkit-transform: scale(1.20,1.20);
	-ms-transform: scale(1.20,1.20);
	transform: scale(1.20,1.20);
}

.portfolio_grid .grid_item .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: '';
	text-align: center;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
   	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
	background: #000 !important;
	border-radius: 5px;
}


.portfolio_grid .grid_item:hover .overlay{
	z-index: 5;
	opacity: 0.85;
	visibility: visible;
	overflow: hidden;
}

.portfolio_grid .grid_item .overlay .inner{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80%;
	z-index: 6;
	display: block;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.portfolio_grid .grid_item .overlay .inner a{
	color: #ffffff;
	text-decoration: none;
   	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.portfolio_grid .grid_item .overlay .inner a.title{
	display: block;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.portfolio_grid .grid_item:hover .overlay .inner a.title{
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.portfolio_grid .grid_item .overlay .inner a.tag{
	display: block;
	letter-spacing: 2px;
	color: #f5f5f5;
	margin-bottom: 10px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.portfolio_grid .grid_item:hover .overlay .inner a.tag{
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.portfolio_grid .grid_item .overlay .inner .buttons{
	font-size: 0;
}

.portfolio_grid .grid_item .overlay .inner .buttons a + a{
	margin-left: 10px;
}

.portfolio_grid .grid_item .overlay .inner .buttons a{
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #ffffff;
	text-align: center;
	font-size: 16px;
	border:1px solid #ffffff;
	border-radius: 100%;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
   	-webkit-transition: all 400ms linear;
	-moz-transition: all 400ms linear;
	-o-transition: all 400ms linear;
	transition: all 400ms linear;
}

.portfolio_grid .grid_item .overlay .inner .buttons a.goto_project{
   	-webkit-transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	-o-transition: all 500ms linear;
	transition: all 500ms linear;
}

.portfolio_grid .grid_item:hover .overlay .inner .buttons a.view_portfolio_image,
.portfolio_grid .grid_item:hover .overlay .inner .buttons a.goto_project{
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.portfolio_grid .grid_item .overlay .inner .buttons a:hover{
	background: #fff !important;
	color: #000;
}

/*.portfolio_grid_filter{
	margin: 0;
	margin-bottom: 40px;
	list-style: none;
	padding: 0;
	text-align: center;
	font-size: 0;
}

.portfolio_grid_filter li{
	display: inline-block;
	padding: 10px 15px;
	font-family: 'Raleway', sans-serif;
	border: 1px solid transparent;
	border-radius: 3px;
	color: #777777;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	position: relative;
   	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.portfolio_grid_filter li + li{
	margin-left: 15px;
}*/

/*
===============================================
			10. Portfolio Single Section
===============================================
*/

.sp_page{
	text-align: center;
}

.sp_page .sp_title{
	margin: 0;
	margin-bottom: 40px;
	letter-spacing: 3px;
	position: relative;
	padding-bottom: 20px;
}

.sp_page .sp_title:after{
	position: absolute;
	left: calc(50% - 25px);
	bottom: 0px;
	height: 1px;
	width: 50px;
	content: '';
}

.sp_page .sp_description{
	margin-bottom: 100px;
}

.sp_page .images{
	position: relative;
}

.sp_page .images .portrait_image{
	background:url(../img/portfolio/portfolio1.jpg);
    background-size: cover !important;
    background-color: #242832;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 100vh;
}

.sp_page .images .portfolio_cell_image{
    background-size: cover !important;
    background-color: #242832;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: relative;
    height: 50vh;
}

.sp_page .images .portfolio_cell_image.image1{
	background:url(../img/portfolio/portfolio2.jpg);
}

.sp_page .images .portfolio_cell_image.image2{
	background:url(../img/portfolio/portfolio3.jpg);
}

.sp_page .images .cell{
	padding: 0;
	position: relative;
	overflow: hidden;
}

.sp_page .images .cell .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100% + 1px);
	height: 100%;
	background: rgba(0,0,0,0.5);
   	display: table;
   	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.sp_page .images .cell .overlay .inner{
	position: relative;
	display: table-cell;
	vertical-align: middle;
	padding: 30px;
	color: #ffffff;
	height: 50vh;
}

.sp_page .images .cell .overlay .inner .items{
	margin-bottom: 20px;
}

.sp_page .images .cell .overlay .inner .items .item{
	margin-bottom: 10px;
	position: relative;
}

.sp_page .images .cell .overlay .inner .items .item .title{
	font-weight: bold;
	font-size: 20px;
}

.sp_page .images .cell .overlay .inner .items .item .value{

}

.sp_page .images .cell .overlay .inner .items .item .value a{
	color: #ffffff;
}

.sp_page .images .cell .overlay .inner > a{

}

.sp_page .images .cell:hover .overlay{
	background: rgba(0,0,0,0.6);
}

.sp_page .images img{
	height: 50vh;
}

/* similar projects */
.similar_projects{
}

.similar_projects > h3{
	margin: 50px 0;
}

.similar_projects .items{
	padding: 0;
}

.similar_projects .items .item{
	padding: 0;
}

.similar_projects .items .item .image{
	position: relative;
}

.similar_projects .items .item .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: '';
	background: rgba(0,0,0,0.5);
	opacity: 0;
	visibility: hidden;
	z-index: -1;
   	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.similar_projects .items .item:hover .overlay{
	opacity: 1;
	visibility: visible;
	z-index: 10;
}

.similar_projects .items .item h4{
	margin: 0;
	padding: 30px 0;
}

.similar_projects .items .item h4 a{
	text-decoration: none;
	color: #555555;
}


.similar_projects .items .item h4 a{
	color: #111111;
}

/*
===============================================
			14. Contact Section
===============================================
*/

#contact{
    background-color: #222;
    height: 750px;
    position: relative;
    color: #fff;
}

#contact div.section_title {
	padding: 0 !important;
	margin-top: 50px;
	text-align: center;

}

.contact_body{
	padding: 30px 150px;
}

.contact_body .inputfield{
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	border: none;
	border-radius: 3px;
	background-color: #ddd;
	font-size: 16px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
	color: #111;
	box-shadow: inset 2px 2px 3px 0px #aaa;
}

.contact_body textarea{
	min-height: 180px;
}

.contact_form button.contact_button.button{
	background: #00D770;
	width: 200px;
	height: 50px;
	border: solid 2px #00D770;
	border-radius: 25px;
	margin: 25px;
	font-size: 14px;
	letter-spacing: 0px;
	color: #fff;
}

body.theme1 .contact_form .button:hover{
	background: #222 !important;
	font-size: 14px;
	color: #00D770 !important;
	border: 2px solid #00D770 !important;
}

.contact_body .contact_form {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.contact_body .messages{
	border-top:1px solid #00D770;
	border-bottom: 1px solid #00D770;
	background: #f9f9f9;
	padding: 10px;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.contact_body .messages.visible{
	opacity: 1;
	visibility: visible;
	z-index: 5;
}

/*
===============================================
			15. Google Maps
===============================================
*/

#gmap{
	height: 450px;
	display: block;

}

/*
===============================================
			16. Footer
===============================================
*/

.footer{
	width: 100%;
	text-align: center;
	background: #111;
	padding: 20px 0px 5px;
}

.footer .logo{
	color: #dedede !important;
	margin-bottom: 30px;
	display: block;
	float: none;
}

.footer .sep {
	margin-top: 75px;
}

.footer .contact_info{
	margin-top: 5px;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 13px;
}

.footer .contact_info i {
	padding-right: 10px;
}

i.fa.fa-map-marker {
	padding-left: 3px;
	padding-right: 14px;
}


.footer .contact_info a{
	color: #ffffff !important;
}

.footer .copyright{
	border-top: 1px solid rgba(255,255,255,0.1);
	padding-top: 10px;
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #ffffff;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.footer .icons a{
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #656565 !important;
	font-size: 30px;
	text-decoration: none;
	border-radius: 100%;
	-ms-transform: scale(1.15,1.15); /* IE 9 */
	-webkit-transform: scale(1.15,1.15); /* Safari */
	transform: scale(1.15,1.15);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.footer .icons a:hover{
	color: #ffffff !important;
	-ms-transform: scale(1,1); /* IE 9 */
	-webkit-transform: scale(1,1); /* Safari */
	transform: scale(1,1);
}

.footer .icons a + a{
	margin-left: 10px;
}

/*
===============================================
			17. Themes
===============================================
*/

/* THEME 1 */

body.theme1 .color,
body.theme1 a:not(.button),
body.theme1 .user_titles:hover p.description strong,
body.theme1 .portfolio_grid_filter li:hover,
body.theme1 .portfolio_grid_filter li.active,
body.theme1 .home_blog_posts .post .post_title a:hover,
body.theme1 #header .navigation > li ul li:hover a,
body.theme1 .blog_posts .post .title a:hover,
body.theme1 .sidebar .widgetbox.categories ul li a:hover,
body.theme1 .awards .award:hover .body .title,
body.theme1 .awards .award .body .title a:hover{
	color:#00D770;
}

body.theme1 .logo:hover{
	color: #00D770 !important;
}

body.theme1 a:not(.button):not(.post_title a):hover{
	color: #111111;
}

.theme_configs .themes .theme1,
body.theme1 #header .navigation > li:after,
body.theme1 .button:hover,
body.theme1 .button.active,
body.theme1 .button.invert,
body.theme1 .section .container .section_title .title:after,
body.theme1 .bgcolor:after,
body.theme1 .user_personal_info .cellrow .cell:hover .label,
body.theme1 .skills .skill .bar .barinner,
body.theme1 .parallax_item .parallax_content .parallax_title:after,
body.theme1 .about_user_bot .col > .title:after,
body.theme1 .edu_empl_items > .title:after,
body.theme1 .sp_page .sp_title:after,
body.theme1 .portfolio_grid .grid_item .overlay,
body.theme1 .about_body,
body.theme1 .edu_empl_items .items .item .body:after{
	background:#00D770;
}

body.theme1 .user_personal_info .cellrow .cell:after,
body.theme1 .portfolio_grid_filter li:hover:before,
body.theme1 .portfolio_grid_filter li.active:before,
body.theme1 .pricing_tables .item.suggested{
	border:1px solid #00D770;
}

body.theme1 .pricing_tables .item .prices{
	background: rgba(239, 65, 62, 0.05);
}

body.theme1 .contact_body .inputfield.contains_error,
body.theme1 .some_stats_section .item i{
	border:2px solid #00D770;
}

body.theme1 .about_image:hover .overlay .quote span{
	border-bottom:2px solid #00D770;
}

body.theme1 .blog_posts .post:hover{
	border-bottom:3px solid #00D770;
}


/*
===============================================
			17. Media Queries
===============================================
*/

/* Portrait tablet to landscape and desktop */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

@media only screen and (min-width: 768px){
	
}

/* Landscape phone to portrait tablet */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

@media only screen and (max-width: 1199px) {
	.contact_body{
		padding: 30px 100px;
	}

	.scroll_to_top {
		display: none;
	}

}


@media only screen and (min-width: 991px) and (max-width: 1640px) {
	

}

@media only screen and (min-width: 991px) {

	.mobile_nav{
		display: none;
	}

	.navigation{
		display: block;
	}


}

@media only screen and (max-width: 991px) {

	#header .navigation > li:hover:after,
	#header .navigation > li.active:after{
		width: 50px;
	}

	#header .logo_outer{
		width: auto;
		float: none;
		display: inline-block;
		border-bottom: 1px solid transparent;
	}

	#header .mobile_nav{
		display: inline-block;
	}

	.home_fullscreen_image_content{
		height: auto !important;
	}

	.user_titles{
		position: relative;
		left: auto;
		top: auto;
		height: auto;
		width: 100%;
		padding: 50px 15px;
   	 	padding-top: 0;
		margin: 0;
	}

	.user_titles .inner{
		position: relative;
		left: auto;
		top: auto;
		width: 100%;
	    -webkit-transform: none;
	    -ms-transform: none;
	    transform: none;
	}

	.about_image{
		width: 100%;
		height: 50vh !important;
	}

	.services .item{
		padding: 25px;
	}

	.services .item i{
		width: 80px;
		height: 80px;
		line-height: 80px;
		font-size: 25px;
	}

	.about_box{
		position: relative;
		left: auto;
		top: auto;
		height: auto;
		width: 100%;
	}

	.navigation_container {
		display: none;
	}

	#header.mobile .navigation_container{
		display: block;
	}

	#header .navigation > li:after{
	    -webkit-transform: none;
	    -ms-transform: none;
	    transform: none;
	    width: 50px;
	    left: calc(50% - 25px);
	    top: 45px;
	}

	#header .navigation > li > a{
		margin-bottom: 10px;
	}

	#header.mobile .navigation > li > ul > li > a{
		text-align: center;
	}

	.home_fullscreen_image .overlay .inner{
		width: 80%;
		padding: 30px;
	}

	.home_fullscreen_image .overlay .inner .title{
		font-size: 60px;
	}

	.home_fullscreen_image .overlay .inner .actions a{
		display: inline-block;
		width: 47%;
	}

	.home_fullscreen_image .overlay .inner .actions a + a{
		margin-left: 0;
		margin-top:15px;
		margin-left: 4%;
	}

	.navigation{
		display: none;
	}

	.mobile_nav{
		display: block;
	}

	/*PORTFOLIO*/
	.portfolio_grid .grid_item {
		width: 49.75%;
	}

	.about_body .actions{
		text-align: center;
	}

	.about_user_bot .col{
		margin-bottom: 30px;
	}

	.about_user_bot .col.last_child{
		margin-bottom: 0 !important;
	}

	.edu_empl_items{
		margin-bottom: 30px;
	}

	.about_body{
		display: block;
		height: auto !important;
	}

	.about_body .user_personal_info{
		display: block;
	}

	.about_body .user_personal_info .cell{
		text-align: center;
		margin-bottom: 15px !important;
	}

	.about_body .user_personal_info > div:last-child .cell{
		margin-bottom: 0;
	}

	.awards .award{
		text-align: left;
	}

	.edu_empl_items .items .item{
		margin-bottom: 30px;
	}

	.edu_empl_items .items .item .body:before,
	.edu_empl_items .items .item .body:after{
		opacity: 0;
		visibility: hidden;
		z-index: -1;
	}

	.services .item_outer + .item_outer .item{
		border-left: none;
	}

	.services .item_outer .item{
		border-bottom: 1px double rgba(0,0,0,0.1);
	}

	.services .item_outer .item{
		border-left: 4px double transparent;
	}

	.parallax_item.testimonials .testimonials_slider .item i{
		position: relative;
		left: auto;
		top: auto;
		margin-bottom: 30px;
	}

	.parallax_item.testimonials .testimonials_slider .item .name{
		text-align: center;
	}

	.some_stats_section .item{
		padding: 30px 10px;
	}

	.edu_empl_items .items .item .body{
		margin-left: 0;
	}

	.edu_empl_items .items .item .date{
		margin-bottom: 25px;
	}

	.pricing_tables .item{
		margin: 15px;
	}

	.some_stats_section .title_outer,
	.some_stats_section h2.title{
		text-align: center;
	}

	.awards .award .body{
		float: left;
	}

	.about_user_bot .col > .title{
		text-align: center;
	}

	.about_user_bot .col > .title:after{
		left: calc(50% - 25px);
	}

	.home_blog_posts .post .post_title{
		padding-bottom: 10px;
	}

}

@media only screen and (max-width: 767px) {

	.user_titles .actions a{
		display: inline-block;
	}

	#header .mobile_nav li a{
		padding: 15px;
	}

	#header .logo{
		margin-top: 15px;
		padding-left: 15px;
	}

	.home_fullscreen_image .overlay .inner .description span:after{
		width: 60px;
		right: -80px;
	}

	.home_fullscreen_image .overlay .inner .description span:before{
		width: 60px;
		left: -80px;
	}

	.portfolio_grid .grid_item {
		width: 100%;
		padding: 5px 15px;
	}

	.portfolio_grid .grid_item .overlay .inner a.title{
		font-size: 15px;
	}

	.portfolio_grid_filter{
		padding: 0 15px;
	}

	.portfolio_grid_filter li{
		display: block;
		border: 0;
		margin-bottom: 15px;
	}

	.portfolio_grid_filter li + li{
		margin-left: 0;
	}

	.portfolio_grid_filter li:last-child{
		margin-bottom: 0;
	}

	.pricing_tables .item.suggested{
		-webkit-transform: scale(1,1);
		-ms-transform: scale(1,1);
		transform: scale(1,1);
	}

	.pricing_tables > div + div{
		margin-top: 30px;
	}

	.about_image{
		height: 100vh !important;
	}

	.services .item{
		padding: 25px;
	}

	section.pricing{
		padding-bottom: 0 !important;
	}

	.services .item i{
		width: 80px;
		height: 80px;
		line-height: 80px;
		font-size: 25px;
	}

	.services .item img{
		width: 80px;
		height: 80px;
	}

	.about_user_bot .col{
		height: auto !important;
	}

	.contact_image{
		height: 100vh;
	}

	.user_titles p{
		font-size: 15px;
	}

	.contact_body .contact_form {
		width: 100% !important;
	}

}

/* Landscape phones and down */
@media only screen and (max-width: 479px) {

	.home_blog_posts .post .post_title{
		font-size: 20px;
	}

	.section > .section_title .title,
	.contact_body h2{
		font-size: 30px;
	}

	.blog_posts .post .about_author{
		text-align: center;
	}

	.blog_posts .post .about_author img{
		float: none;
	}

	.blog_posts .post .about_author .body{
		width: 100%;
		padding: 0;
	    float: none;
	    margin-top: 20px;
	}

	.parallax_item.top_parallax .top_title,
	.sp_page .sp_title{
		font-size: 35px;
	}

	.blog_posts .post #comments .comments_list .comment .children{
		padding-left: 50px;
	}

	.blog_posts .post .prev_next_posts a i{
		position: relative;
		left: auto !important;
		right: auto !important;
		top: auto !important;
		bottom: auto !important;
    	display: inline;
	}

	.blog_posts .post .comment_form .title,
	.blog_posts .post #comments > .title{
		font-size: 17px;
	}

	.portfolio_grid .grid_item .overlay .inner{
		width: 90%;
	}

	.portfolio_grid .grid_item .overlay .inner a.title{
		font-size: 16px;
	}

	.contact_image .overlay .contact_info .item{
		margin-bottom: 30px !important;
	}

	.parallax_item .parallax_content .parallax_title{
		font-size: 25px;
	}

	.home_fullscreen_image .overlay .inner{
		width: 100%;
		padding: 15px;
	}

	.home_fullscreen_image .overlay .inner .description{
		font-size: 15px;
		margin-bottom: 15px;
	}

	.home_fullscreen_image .overlay .inner .title{
		font-size: 32px;
		margin-bottom: 15px;
	}

	.nav-tabs>li{
		width: 100%;
	}

	.tabs .nav-tabs>li.active>a, .tabs .nav-tabs>li.active>a:focus, .tabs .nav-tabs>li.active>a:hover{
		border-bottom-color: #dedede;
	}

	.home_slider .slide .overlay .inner .title{
		font-size: 40px;
	}

	.about_user_bot .col{
		padding: 30px;
	}

	.about_image .overlay .quote{
		font-size: 20px;
	}

	.contact_body{
		padding: 30px 15px;
	}

	.pricing_tables{
		padding: 15px;
	}
	
	#header.mobile .navigation > li > ul > li + li{
		margin: 0;
	}

	.home_fullscreen_image .overlay .inner .actions a{
		display: inline-block;
		width: 100%;
		padding: 10px;
	}

	.home_fullscreen_image .overlay .inner .actions a + a{
		margin-left: 0;
	}

	.home_fullscreen_image .overlay .inner .social_icons{
	}

	.home_fullscreen_image .overlay .inner .social_icons a{
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 16px;
	}

	.contact_image{
		height: 650px;
	}

	.user_titles .actions{
		text-align: center;
	}

	.user_titles .actions a{
		margin-left: 0 !important;
	}

	.user_titles .actions a + a{
		margin-top: 15px;
	}

	.pagination{
		display: block;
	}

	.pagination li{
		display: block;
		width: 100%;
		margin-bottom: 10px !important;
	}

	.pagination li a{
		display: block;
		margin: 0;
		width: 100%;
		float: none;
	}

	.sidebar{
		margin-top: 30px;
		padding-left: 0;
	}

	.blog_posts .post .share_tags{
		text-align: center;
	}

	.blog_posts .post .share_tags > div + div{
		margin-top: 15px;
	}

	.contact_body button{
		width: 100%;
	}

	.footer .social {
		padding-left: 0;
	}

	.footer .footerLeft {
		padding-right: 0;
	}

	.footer .icons a{
		margin-bottom: 15px;
		font-size: 20px;
		height: 40px;
		width: 40px;
	}

	#gmap{
		height: 250px;
	}

}

@media only screen and (max-height: 550px) {

	.home_fullscreen_image{
    	/*background-position-x: 0px !important;*/
	}

}

@media only screen and (min-height: 550px) and (max-height: 650px) {

	.home_fullscreen_image{
    	/*background-position-x: -200px !important;*/
	}

}

@media only screen and (max-width: 467px) and (min-height: 450px) {

	.home_fullscreen_image{
    	background-position-x: -400px !important;
	}

}


.theme_configs{
	position: fixed;
	left: -158px;
	top: 15%;
	z-index: 300;
}

.theme_configs.visible{
	display: block !important;
	visibility: visible !important;
}

.theme_configs .body {
	display: inline-block;
	float: left;
	width: 158px;
	border: 1px solid #ededed;
	padding: inherit;
	background: #ffffff;
	text-align: center;
	word-wrap: break-word;
}

.theme_configs .body .head_title,
.theme_configs .body .title{
	width: 100%;
	padding: 4px;
	border-bottom: 1px solid #ededed;
}

.theme_configs .body .head_title{
	background: #f5f5f5;
}

.theme_configs .body .box{
	display: block;
	width: 100%;
	padding: 10px;
	float: left;
}

.theme_configs .btn{
	display: inline-block;
	height: 34px;
	width: 34px;
	line-height: 23px;
	background: #f5f5f5;
	border-radius: 0;
	font-size: 25px;
	cursor: pointer;
	text-align: center;
	float: left;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.theme_configs .box.themes div{
	display: block;
	width: 63px;
	height: 20px;
	margin-bottom: 10px;
	cursor: pointer;
	float: left;
	opacity: 0.7;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.theme_configs .box.themes div:nth-child(9),
.theme_configs .box.themes div:last-child{
	margin-bottom: 0;
}

.theme_configs .box.themes div:nth-child(2n+0){
	margin-left: 10px;
}

.theme_configs .box.themes div:hover{
	opacity: 1;
}

.theme_configs .box.themes div:hover,
.theme_configs .box.themes div.active{
	opacity: 1;
}

.theme_configs .box.themes div > span{
	display: block;
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
}